<div class="jumbotron jumbotron-fluid bg-info text-light">
  <div class="container">
    <h1 class="display-4"><%= @list.list_name %></h1>
    <p class="lead"><%= @list.list_desc %></p>
  </div>
</div>