<h3><%= current_user.parent.team_name %></h3>
<p>
  Note: Team parents are automatically added upon sign-up.
</p>
<h4>Parents</h4>
<% if family_parents_from_current_user.nil? %>
You have no team parents.
<% else %>
  <ul>
  <% family_parents_from_current_user.each do |p| %>
    <li><%= p.name %></li>
  <% end %>
  </ul>
<% end %>