<h3>Team Parents</h3>
<p>
  Team parents are automatically added upon sign-up.
</p>
<p>
  Parent accounts can switch teams by editing their account.
</p>
<ul>
<% family_parents_from_current_user.each do |p| %>
  <li><%= p.name %></li>
<% end %>
</ul>