<h1>Welcome back <%= current_user.username %>!</h1>

<%= link_to 'Logout', destroy_user_session_path, method: :delete %>

<%= render partial: "account_form", object: @parent=Parent.new if current_user.account_id == nil %>
<%
=begin%>
 TODO: Ask Jake about how to make this partial with an object DRY 
<%
=end%>
